<div *ngIf="isAddStoryButton; else avatar" class="medium-margin">
  <div class="add-story">
    <ion-avatar class="center">
      <ion-icon color="dark" name="add-circle" size="large"></ion-icon>
    </ion-avatar>
  </div>
  <div class="ion-text-center low-padding-top">
    <ion-text class="small-font" color="light">{{ 'Your story' }}</ion-text>
  </div>
</div>

<ng-template #avatar>
  <div class="medium-margin">
    <div *ngIf="storyInfo.content" [ngClass]="storyInfo.isSeen ? 'avatar-perimeter-seen' : 'avatar-perimeter-unseen'">
      <ion-avatar>
        <img alt="avatar" [src]="storyInfo.content" />
      </ion-avatar>
    </div>
    <div class="ion-text-center low-padding-top">
      <ion-text class="small-font" color="light">{{ storyInfo.postedBy }}</ion-text>
    </div>
  </div>
</ng-template>
