<div class="height-100 flex-column chat-container">

    <!-- <ion-text color="dark">{{'hello'}}</ion-text>
    <ion-text color="dark">{{'hello'}}</ion-text>
    <ion-text color="dark">{{'hello'}}</ion-text>
    <ion-text color="dark">{{'hello'}}</ion-text>
    <ion-text color="dark">{{'hello'}}</ion-text>
    <ion-text color="dark">{{'hello'}}</ion-text>
    <ion-text color="dark">{{'hello'}}</ion-text>
    <ion-text color="dark">{{'hello'}}</ion-text>
    <ion-text color="dark">{{'hello'}}</ion-text>
    <ion-text color="dark">{{'hello'}}</ion-text>
    <ion-text color="dark">{{'hello'}}</ion-text>
    <ion-text color="dark">{{'hello'}}</ion-text>
    <ion-text color="dark">{{'hello'}}</ion-text>
    <ion-text color="dark">{{'hello'}}</ion-text>
    <ion-text color="dark">{{'hello'}}</ion-text>
    <ion-text color="dark">{{'hello'}}</ion-text>
    <ion-text color="dark">{{'hello'}}</ion-text>
    <ion-text color="dark">{{'hello'}}</ion-text>
    <ion-text color="dark">{{'hello'}}</ion-text>
    <ion-text color="dark">{{'hello'}}</ion-text>
    <ion-text color="dark">{{'hello'}}</ion-text>
    <ion-text color="dark">{{'hello'}}</ion-text>
    <ion-text color="dark">{{'hello'}}</ion-text>
    <ion-text color="dark">{{'hello'}}</ion-text>
    <ion-text color="dark">{{'hello'}}</ion-text>
    <ion-text color="dark">{{'hello'}}</ion-text>
    <ion-text color="dark">{{'hello'}}</ion-text>
    <ion-text color="dark">{{'hello'}}</ion-text>
    <ion-text color="dark">{{'hello'}}</ion-text>
    <ion-text color="dark">{{'hello'}}</ion-text>
    <ion-text color="dark">{{'hello'}}</ion-text>
    <ion-text color="dark">{{'hello'}}</ion-text> -->
</div>
