ion-tab-bar {
    --background: var(--ion-color-dark);
    --color: var(--ion-color-light);
}

ion-tab-button {
    --color-focused: var(--ion-color-theme);
    --color-selected: var(--ion-color-theme);
    --ripple-color: var(--ion-color-theme);
}