.very-big-font {
    font-size: 36px;
}

.big-font {
    font-size: 25px;
}

.medium-font {
    font-size: 20px;
}

.small-font {
    font-size: 16px;
}

.very-small-font {
    font-size: 14px;;
}

.extra-small-font {
    font-size: 12px;
}

.bold {
    font-weight: bold;
}