// Low margin

.low-margin {
    margin: 5px;
}

.low-margin-vertical {
    margin: 5px 0;
}

.low-margin-horizontal {
    margin: 0 5px;
}

.low-margin-left {
    margin-left: 5px;
}

.low-margin-top {
    margin-top: 5px;
}

.low-margin-right {
    margin-right: 5px;
}

.low-margin-bottom {
    margin-bottom: 5px;
}

// Medium margin

.medium-margin {
    margin: 10px;
}

.medium-margin-vertical {
    margin: 10px 0;
}

.medium-margin-horizontal {
    margin: 0 10px;
}

.medium-margin-left {
    margin-left: 10px;
}

.medium-margin-top {
    margin-top: 10px;
}

.medium-margin-right {
    margin-right: 10px;
}

.medium-margin-bottom {
    margin-bottom: 10px;
}

// High margin

.high-margin {
    margin: 20px;
}

.high-margin-vertical {
    margin: 20px 0;
}

.high-margin-horizontal {
    margin: 0 20px;
}

.high-margin-left {
    margin-left: 20px;
}

.high-margin-top {
    margin-top: 20px;
}

.high-margin-right {
    margin-right: 20px;
}

.high-margin-bottom {
    margin-bottom: 20px;
}

