// Low padding

.low-padding {
    padding: 5px;
}

.low-padding-vertical {
    padding: 5px 0;
}

.low-padding-horizontal {
    padding: 0 5px;
}

.low-padding-left {
    padding-left: 5px;
}

.low-padding-top {
    padding-top: 5px;
}

.low-padding-right {
    padding-right: 5px;
}

.low-padding-bottom {
    padding-bottom: 5px;
}

// Medium padding

.medium-padding {
    padding: 10px;
}

.medium-padding-vertical {
    padding: 10px 0;
}

.medium-padding-horizontal {
    padding: 0 10px;
}

.medium-padding-left {
    padding-left: 10px;
}

.medium-padding-top {
    padding-top: 10px;
}

.medium-padding-right {
    padding-right: 10px;
}

.medium-padding-bottom {
    padding-bottom: 10px;
}

// High padding

.high-padding {
    padding: 20px;
}

.high-padding-vertical {
    padding: 20px 0;
}

.high-padding-horizontal {
    padding: 0 20px;
}

.high-padding-left {
    padding-left: 20px;
}

.high-padding-top {
    padding-top: 20px;
}

.high-padding-right {
    padding-right: 20px;
}

.high-padding-bottom {
    padding-bottom: 20px;
}
