.input-box {
    --background: var(--ion-color-dark);
    --color: var(--ion-color-theme);
    --highlight-color-focused: var(--ion-color-theme);
    --border-color: var(--ion-color-theme);
    caret-color: var(--ion-color-theme);
}

ion-item {
    &::part(native) {
        --background: var(--ion-color-dark);
    }
}

.select-box {
    border-bottom: 1px solid var(--ion-color-theme) !important;

    &::part(label) {
        color: var(--ion-color-theme);
    }

    &::part(text) {
        color: var(--ion-color-theme);
    }

    &::part(icon) {
        color: var(--ion-color-theme);
    }
}

.select-box-error {
    border-bottom: 1px solid var(--ion-color-danger) !important;

    &::part(label) {
        color: var(--ion-color-danger);
    }

    &::part(text) {
        color: var(--ion-color-danger);
    }

    &::part(icon) {
        color: var(--ion-color-danger);
    }
}