<div class="height-100 flex-column background-color">

  <div class="ion-padding ion-margin">
    <ion-text class="very-big-font bold" color="light">
      {{ 'Let us know who you really are!' }}
    </ion-text>
  </div>

  <!-- <div class="flex-1 flex-column ion-margin"> -->
    <div class="flex-2 flex-column justify-center ion-margin">
      <!-- <ion-list class="background-color"> -->
        <ion-item class="background-color">
          <ion-input 
            label="First Name" 
            labelPlacement="floating" 
            class="input-box big-font"
            required
            errorText="Please enter first name!"
            [(ngModel)]="personalInfo.firstname"
          ></ion-input>
        </ion-item>
  
        <ion-item class="background-color">
          <ion-input 
            label="Last Name" 
            labelPlacement="floating" 
            class="input-box big-font"
            required
            errorText="Please enter last name!"
            [(ngModel)]="personalInfo.lastname"
          ></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-select 
              (ionDismiss)="onDismissGenderSelect()" 
              (ionChange)="onChangeGender($event)"
              color="theme" 
              class="ion-padding-top big-font" 
              justify="space-between" 
              label="Gender" 
              interface="popover"
              [ngClass]="isGenderSelectTouched && !isGenderSelected ? 'select-box-error' : 'select-box'"
          >
            <ion-select-option *ngFor="let gender of genders" [value]="gender.value">{{ gender.label }}</ion-select-option>
          </ion-select>
        </ion-item>
        <div *ngIf="isGenderSelectTouched && !isGenderSelected">
          <ion-text class="extra-small-font ion-margin-start" color="danger">{{ 'Please enter gender!' }}</ion-text>
        </div>
  
        <ion-item class="background-color">
          <ion-input 
            type="number"
            label="Age" 
            labelPlacement="floating" 
            class="input-box big-font"
            required
            errorText="Please enter age!"
            [(ngModel)]="personalInfo.age"
          ></ion-input>
        </ion-item>
  
        
      <!-- </ion-list> -->
    </div>

    <div class="flex-1 center">
      <ion-button class="ion-margin-start ion-margin-end button-width" color="light" expand="block" shape="round" (click)="goToNextSlide()">
        <ion-text class="ion-padding-top ion-padding-bottom no-text-style">{{ 'Next' }}</ion-text>
      </ion-button>
    </div>
  <!-- </div> -->

</div>