<ion-content color="dark" [fullscreen]="true">
    <ion-grid class="height-100">
      <ion-row>
        <ion-col class="ion-padding-start ion-padding-top">
          <ion-text class="big-font">{{ 'whoRyou' }}</ion-text>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          <app-story></app-story>
        </ion-col>
      </ion-row>
  
      <ion-row class="height-100">
        <ion-col>
          <app-chats-component></app-chats-component>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
