<div class="flex overflow-scroll-x">
  <app-story-avatar [isAddStoryButton]="true"></app-story-avatar>
  <app-story-avatar [avatarUrl]="avatarUrl"></app-story-avatar>
  <app-story-avatar [avatarUrl]="avatarUrl"></app-story-avatar>
  <app-story-avatar [avatarUrl]="avatarUrl"></app-story-avatar>
  <app-story-avatar [avatarUrl]="avatarUrl"></app-story-avatar>
  <app-story-avatar [avatarUrl]="avatarUrl"></app-story-avatar>
  <app-story-avatar [avatarUrl]="avatarUrl"></app-story-avatar>
  <app-story-avatar [avatarUrl]="avatarUrl"></app-story-avatar>
  <app-story-avatar [avatarUrl]="avatarUrl"></app-story-avatar>
  <app-story-avatar [avatarUrl]="avatarUrl"></app-story-avatar>
</div>
