<ion-item button color="light" lines="full" class="chat-item" (click)="navigateToChatroom()">
  <ion-avatar slot="start" class="avatar">
    <img alt="avatar" [src]="chatItemInfo.avatarUrl" />
  </ion-avatar>
  <ion-label>
    <div>
      <ion-text class="small-font bold">{{ chatItemInfo.nickName }}</ion-text>
    </div>
    <div>
      <ion-text class="very-small-font">{{ chatItemInfo.lastMessage }}</ion-text>
    </div>
  </ion-label>

  <ion-label slot="end">
    <div>
      <ion-text class="small-font">{{ chatItemInfo.lastMessageTime | date: 'shortTime' }}</ion-text>
    </div>
    <div class="ion-text-end low-padding-top" [ngSwitch]="chatItemInfo.messageStatus">
      <ion-icon *ngSwitchCase="MessageStatusEnum.READ" color="success" name="checkmark-done"></ion-icon>
      <ion-icon *ngSwitchCase="MessageStatusEnum.NOT_READ" color="dark" name="checkmark-done"></ion-icon>
      <ion-icon *ngSwitchCase="MessageStatusEnum.DELIVERED" color="dark" name="checkmark"></ion-icon>
      <ion-icon *ngSwitchCase="MessageStatusEnum.NOT_DELIVERED" color="dark" name="time-outline"></ion-icon>
      <ion-badge *ngSwitchCase="MessageStatusEnum.NOT_SEEN" mode="ios" color="theme">{{ chatItemInfo.unreadMessageCount }}</ion-badge>
    </div>
  </ion-label>
</ion-item>